#heading {
  text-align: center;
  color: red;
  margin-top: 50px;
font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
font-size: 40px
}


#start-game{
  /*text-align: center;*/
  position:fixed;
  top: 20%;
  left: 20%;
  width: 100px;
  height: 75px;
  color: red;
  font-weight: bold;
  border-color: red;
  border-width: 10px;

}

#reset{
  /*text-align: center;*/
  position:fixed;
  top: 20%;
  right: 20%;
  width: 100px;
  height: 75px;
  color: red;
  font-weight: bold;
  border-color: red;
  border-width: 10px;
}


#score {
  text-align: center;
  margin-top: 30px;
  margin-left: 400px;
  border-style: double;
  border-color: red;
  border-width: 10px;
  width: 200px;
  color: white;
  align: center;
  position:fixed;
  bottom: 50%;
  right: 38%;
}


#the-form {
  text-align: center;
  margin-top: 50px;
  size: 35;
  position:fixed;
  bottom: 30%;
  left: 45%;
}

#roll-input {
  height: 50px;
  width: 50px;
  font-size: 35px;
  background:#ccc;
}

#roll-submit{
  font-size: 30;
  color: red;
  font-weight: bold;
  height: 50px;
}


#show-scorecard{
  position:fixed;
  bottom: 30%;
  left: 45%;
  font-size: 30;
  color: red;
  font-weight: bold;
  height: 50px;
}

#scorecard{
  color: black;
  text-align: center;
}

#myTable{
  background-color: #ccc;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 30;
    color: red;
    font-weight: bold;

}

body {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;

  background-image: url('https://static.pexels.com/photos/4192/sport-alley-ball-game.jpg');
  background-repeat: no-repeat;
}
